In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
file_path = "../data/raw/flights_sample_3m.csv"

df = pd.read_csv(file_path, nrows=100000)  # Load only 100k rows

df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,0.0,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,0.0,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(100000, 32)

In [9]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   FL_DATE                  100000 non-null  str
 1   AIRLINE                  100000 non-null  str
 2   AIRLINE_DOT              100000 non-null  str
 3   AIRLINE_CODE             100000 non-null  str
 4   DOT_CODE                 100000 non-null  int64
 5   FL_NUMBER                100000 non-null  int64
 6   ORIGIN                   100000 non-null  str
 7   ORIGIN_CITY              100000 non-null  str
 8   DEST                     100000 non-null  str
 9   DEST_CITY                100000 non-null  str
 10  CRS_DEP_TIME             100000 non-null  int64
 11  DEP_TIME                 97443 non-null   float64
 12  DEP_DELAY                97442 non-null   float64
 13  TAXI_OUT                 97414 non-null   float64
 14  WHEELS_OFF               97414 non-null   float64
 15  WHEELS_ON                97381 non-null   float64
 16  TAXI_IN                  97381 non-null   float64
 17  CRS_ARR_TIME             100000 non-null  int64
 18  ARR_TIME                 97381 non-null   float64
 19  ARR_DELAY                97205 non-null   float64
 20  CANCELLED                100000 non-null  float64
 21  CANCELLATION_CODE        2596 non-null    str
 22  DIVERTED                 100000 non-null  float64
 23  CRS_ELAPSED_TIME         99998 non-null   float64
 24  ELAPSED_TIME             97205 non-null   float64
 25  AIR_TIME                 97205 non-null   float64
 26  DISTANCE                 100000 non-null  float64
 27  DELAY_DUE_CARRIER        17761 non-null   float64
 28  DELAY_DUE_WEATHER        17761 non-null   float64
 29  DELAY_DUE_NAS            17761 non-null   float64
 30  DELAY_DUE_SECURITY       17761 non-null   float64
 31  DELAY_DUE_LATE_AIRCRAFT  17761 non-null   float64
dtypes: float64(19), int64(4), str(9)
memory usage: 24.4 MB

In [11]:
df.isnull().sum().sort_values(ascending=False)

CANCELLATION_CODE          97404
DELAY_DUE_LATE_AIRCRAFT    82239
DELAY_DUE_CARRIER          82239
DELAY_DUE_SECURITY         82239
DELAY_DUE_NAS              82239
DELAY_DUE_WEATHER          82239
ARR_DELAY                   2795
ELAPSED_TIME                2795
AIR_TIME                    2795
WHEELS_ON                   2619
ARR_TIME                    2619
TAXI_IN                     2619
WHEELS_OFF                  2586
TAXI_OUT                    2586
DEP_DELAY                   2558
DEP_TIME                    2557
CRS_ELAPSED_TIME               2
DEST_CITY                      0
CRS_DEP_TIME                   0
DEST                           0
DOT_CODE                       0
FL_NUMBER                      0
ORIGIN                         0
ORIGIN_CITY                    0
AIRLINE                        0
AIRLINE_DOT                    0
FL_DATE                        0
AIRLINE_CODE                   0
DIVERTED                       0
CANCELLED                      0
CRS_ARR_TIME                   0
DISTANCE                       0
dtype: int64

In [13]:
df.describe()

,DOT_CODE,FL_NUMBER,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
count,100000.000000,100000.000000,100000.000000,97443.000000,97442.000000,97414.000000,97414.000000,97381.000000,97381.000000,100000.000000,...,100000.000000,99998.000000,97205.000000,97205.000000,100000.000000,17761.000000,17761.000000,17761.000000,17761.000000,17761.000000
mean,19978.891840,2520.166180,1326.080990,1328.665969,10.195162,16.655614,1350.619552,1460.863659,7.723827,1489.106910,...,0.001990,142.028061,136.429134,112.062342,807.252490,25.767299,4.118800,12.803615,0.143460,25.198694
std,376.551364,1744.103441,486.246477,499.715908,49.936879,9.184579,501.372051,527.244581,6.314710,511.899472,...,0.044565,71.207617,71.336714,69.393837,585.336998,75.402820,35.159549,31.275243,3.507075,54.476529
min,19393.000000,1.000000,1.000000,1.000000,-68.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,20.000000,16.000000,8.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19790.000000,1066.000000,914.000000,915.000000,-6.000000,11.000000,930.000000,1048.000000,4.000000,1106.000000,...,0.000000,90.000000,84.000000,61.000000,374.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19930.000000,2164.000000,1317.000000,1321.000000,-2.000000,14.000000,1333.000000,1500.000000,6.000000,1515.000000,...,0.000000,125.000000,120.000000,95.000000,651.000000,4.000000,0.000000,0.000000,0.000000,0.000000
75%,20368.000000,3794.000000,1730.000000,1738.000000,6.000000,19.000000,1751.000000,1907.000000,9.000000,1918.250000,...,0.000000,172.000000,167.000000,142.000000,1045.000000,24.000000,0.000000,17.000000,0.000000,29.000000
max,20452.000000,8814.000000,2359.000000,2400.000000,1643.000000,172.000000,2400.000000,2400.000000,222.000000,2400.000000,...,1.000000,685.000000,722.000000,661.000000,5095.000000,1643.000000,1230.000000,1124.000000,286.000000,1321.000000

In [15]:
df.isnull().sum().sort_values(ascending=False)

CANCELLATION_CODE          97404
DELAY_DUE_LATE_AIRCRAFT    82239
DELAY_DUE_CARRIER          82239
DELAY_DUE_SECURITY         82239
DELAY_DUE_NAS              82239
DELAY_DUE_WEATHER          82239
ARR_DELAY                   2795
ELAPSED_TIME                2795
AIR_TIME                    2795
WHEELS_ON                   2619
ARR_TIME                    2619
TAXI_IN                     2619
WHEELS_OFF                  2586
TAXI_OUT                    2586
DEP_DELAY                   2558
DEP_TIME                    2557
CRS_ELAPSED_TIME               2
DEST_CITY                      0
CRS_DEP_TIME                   0
DEST                           0
DOT_CODE                       0
FL_NUMBER                      0
ORIGIN                         0
ORIGIN_CITY                    0
AIRLINE                        0
AIRLINE_DOT                    0
FL_DATE                        0
AIRLINE_CODE                   0
DIVERTED                       0
CANCELLED                      0
CRS_ARR_TIME                   0
DISTANCE                       0
dtype: int64

In [17]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   FL_DATE                  100000 non-null  str
 1   AIRLINE                  100000 non-null  str
 2   AIRLINE_DOT              100000 non-null  str
 3   AIRLINE_CODE             100000 non-null  str
 4   DOT_CODE                 100000 non-null  int64
 5   FL_NUMBER                100000 non-null  int64
 6   ORIGIN                   100000 non-null  str
 7   ORIGIN_CITY              100000 non-null  str
 8   DEST                     100000 non-null  str
 9   DEST_CITY                100000 non-null  str
 10  CRS_DEP_TIME             100000 non-null  int64
 11  DEP_TIME                 97443 non-null   float64
 12  DEP_DELAY                97442 non-null   float64
 13  TAXI_OUT                 97414 non-null   float64
 14  WHEELS_OFF               97414 non-null   float64
 15  WHEELS_ON                97381 non-null   float64
 16  TAXI_IN                  97381 non-null   float64
 17  CRS_ARR_TIME             100000 non-null  int64
 18  ARR_TIME                 97381 non-null   float64
 19  ARR_DELAY                97205 non-null   float64
 20  CANCELLED                100000 non-null  float64
 21  CANCELLATION_CODE        2596 non-null    str
 22  DIVERTED                 100000 non-null  float64
 23  CRS_ELAPSED_TIME         99998 non-null   float64
 24  ELAPSED_TIME             97205 non-null   float64
 25  AIR_TIME                 97205 non-null   float64
 26  DISTANCE                 100000 non-null  float64
 27  DELAY_DUE_CARRIER        17761 non-null   float64
 28  DELAY_DUE_WEATHER        17761 non-null   float64
 29  DELAY_DUE_NAS            17761 non-null   float64
 30  DELAY_DUE_SECURITY       17761 non-null   float64
 31  DELAY_DUE_LATE_AIRCRAFT  17761 non-null   float64
dtypes: float64(19), int64(4), str(9)
memory usage: 24.4 MB

In [19]:
df.isnull().sum().sort_values(ascending=False)

CANCELLATION_CODE          97404
DELAY_DUE_LATE_AIRCRAFT    82239
DELAY_DUE_CARRIER          82239
DELAY_DUE_SECURITY         82239
DELAY_DUE_NAS              82239
DELAY_DUE_WEATHER          82239
ARR_DELAY                   2795
ELAPSED_TIME                2795
AIR_TIME                    2795
WHEELS_ON                   2619
ARR_TIME                    2619
TAXI_IN                     2619
WHEELS_OFF                  2586
TAXI_OUT                    2586
DEP_DELAY                   2558
DEP_TIME                    2557
CRS_ELAPSED_TIME               2
DEST_CITY                      0
CRS_DEP_TIME                   0
DEST                           0
DOT_CODE                       0
FL_NUMBER                      0
ORIGIN                         0
ORIGIN_CITY                    0
AIRLINE                        0
AIRLINE_DOT                    0
FL_DATE                        0
AIRLINE_CODE                   0
DIVERTED                       0
CANCELLED                      0
CRS_ARR_TIME                   0
DISTANCE                       0
dtype: int64

In [21]:
# Fill delay-related nulls with 0
delay_columns = [
    'ARR_DELAY', 'DEP_DELAY', 'TAXI_OUT', 'TAXI_IN',
    'DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT'
]

for col in delay_columns:
    if col in df.columns:
        df[col] = df[col].fillna(0)

df.isnull().sum().sort_values(ascending=False).head()

CANCELLATION_CODE    97404
DELAY_DUE_CARRIER    82239
DELAY_DUE_NAS        82239
DELAY_DUE_WEATHER    82239
AIR_TIME              2795
dtype: int64

In [23]:
# Create route column
df['ROUTE'] = df['ORIGIN'] + "-" + df['DEST']

# Extract hour from scheduled departure time
df['DEP_HOUR'] = df['CRS_DEP_TIME'] // 100

df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,ROUTE,DEP_HOUR
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,176.0,153.0,1065.0,NaN,NaN,NaN,0.0,0.0,FLL-EWR,11
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,236.0,189.0,1399.0,NaN,NaN,NaN,0.0,0.0,MSP-SEA,21
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,112.0,87.0,680.0,NaN,NaN,NaN,0.0,0.0,DEN-MSP,9
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0,MSP-SFO,16
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,182.0,153.0,985.0,NaN,NaN,NaN,0.0,0.0,MCO-DFW,18

In [24]:
df.to_csv("../data/processed/flights_cleaned_sample.csv", index=False)